$body-bg: #f8f9fa;
$border-color: #ced4da;
$border-radius: 10px;
$border-width: 2px;

$display-font-sizes: (
  1: 2.5em,
  2: 2.25em,
  3: 2em,
  4: 1.75em,
  5: 1.5em,
  6: 1.25em,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border-right: 3px $body-bg solid;
  border-left: 3px $body-bg solid;
  background-clip: padding-box;
  background: $border-color;
  border-radius: 5.5px;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px;
  min-width: 500px;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-left: $border-width $border-color solid;
  border-right: $border-width $border-color solid;
  border-bottom: $border-width $border-color solid;
}

.header-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}

.header-icon {
  width: 25px;
  height: 25px;
  background-size: contain;
  outline: none;
  border: none;
  background-color: transparent;
}

.docs-icon {
  background-image: url("../assets/book.svg");
}

.github-icon {
  background-image: url("../assets/github.svg");
}

.info-icon {
  background-image: url("../assets/info-circle-fill.svg");
}

.docs-container {
  position: absolute;
  top: 70px;
  width: 50%;
  right: 0;
  border: $border-width $border-color solid;
  border-radius: $border-radius;
  margin: 15px;
  padding: 10px;
  background-color: $body-bg;
}

.docs-example {
  margin: 10px;
  line-height: 2;
}

.history-list {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
}

.history-item {
  padding-left: $input-btn-padding-x;
  margin: $input-btn-padding-y 0.5rem;
}

.interpreter-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 10px;
}

@media screen and (max-height: 620px) {
  .interpreter-form {
    width: 46%;
  }
}

.interpreter-prompt {
  flex-grow: 1;
  background-color: transparent;
  border-style: hidden;
}

.interpreter-prompt:focus {
  outline: none;
}
